<header class="top-header">
  <div class="header-left">
    <button class="menu-toggle" id="menuToggle">
      <span class="material-icons-outlined">menu</span>
    </button>
    <div class="logo">
      <span class="material-icons-outlined logo-icon">admin_panel_settings</span>
      <span class="logo-text">HR Admin</span>
    </div>
  </div>
  <div class="header-right">
    <div class="header-user">
      <span class="material-icons-outlined">account_circle</span>
      <span class="user-name">{{user.name}}</span>
    </div>
    <a href="/auth/logout" class="btn-logout" title="Logout">
      <span class="material-icons-outlined">logout</span>
    </a>
  </div>
</header>
