<aside class="sidebar" id="sidebar">
  <nav class="sidebar-nav">
    <a href="/departments" class="nav-item {{#if (eq activeMenu 'departments')}}active{{/if}}">
      <span class="material-icons-outlined">business</span>
      <span class="nav-text">Departments</span>
    </a>
    <a href="/employees" class="nav-item {{#if (eq activeMenu 'employees')}}active{{/if}}">
      <span class="material-icons-outlined">people</span>
      <span class="nav-text">Employees</span>
    </a>
  </nav>
</aside>
